@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #121212;
  padding: 10px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
}

.nav-logo i {
  font-size: 24px;
  margin-bottom: 10px;
}

.nav-library {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.nav-library i,
.nav-library p {
  color: #b7b3b6;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.nav-playlist,
.nav-podcast {
  background-color: #242424;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.nav-playlist button,
.nav-podcast button {
  background-color: white;
  color: black;
  border: none;
  padding: 6px 10px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.nav-playlist p,
.nav-podcast p {
  font-size: 12px;
}

.nav-footer {
  margin-top: auto;
}

.nav-footer a {
  color: #a7a7a7;
  text-decoration: none;
  font-size: 12px;
  margin-right: 12px;
  margin-bottom: 8px;
}

.nav-lang-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 8px, 12 px;
  margin-top: 16px;
  cursor: pointer;
  border-radius: 20px;
}

main {
  padding: 24px;
  flex-grow: 1;
  overflow-y: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #242424;
  padding: 8px 16px;
  border-radius: 20px;
  width: 300px;
}

.search-bar input {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  margin-left: 10px;
  outline: none;
}

.artists-grid,
.albums-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  margin-bottom: 40px;
}

.artist-card,
.album-card {
  background-color: #181818;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.artist-card:hover,
.album-card:hover {
  background-color: #282828;
}

.artist-card img,
.album-card img {
  width: 100%;
  max-height: 70%;
  border-radius: 50%;
  margin-bottom: 16px;
}

.artist-card h3,
.album-card h3 {
  font-size: 12px;
}

.artist-card p,
.album-card p {
  font-size: 10px;
  color: #b7b3b6;
}

.content {
  margin-top: 40px;

  & h2 {
    margin-bottom: 10px;
  }
}

.banner {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, #af2896, #509bf5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;

  & h2 {
    font-size: 14px;
  }

  & p {
    font-size: 10px;
  }

  & button {
    border-radius: 20px;
    color: black;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
  }
}
